.table__cell-icon {
  font-size: 3.5vw;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .table__cell-icon {
    font-size: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .table__cell-icon {
    font-size: 6vw;
  }
}

@media screen and (max-width: 540px) {
  .table__cell-icon {
    font-size: 7vw;
  }
}
