.table__cell-icon {
  max-width: 50%;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 1px #0072ff, 0 0 10px #0072ff, 0 0 15px #0072ff,
    0 0 20px #0072ff;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
