@import url("https://fonts.googleapis.com/css?family=Muli:400,800&display=swap");
.button {
  font-weight: 800;
  background: transparent;
  min-width: 100px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 15px;
  display: inline-block;
  padding: 10px 16px;
  margin: 0 3px 0 0;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  border: 3px solid #fe53bb;
  color: #fe53bb;
  background-color: #840151;
}

.button {
  border: 3px solid #00d4ff;
  color: #00d4ff;
  background-color: #002a33;
}
.button:hover {
  border-color: #33ddff;
  color: #33ddff;
  background-color: #005566;
}
.button:focus {
  border-color: #33ddff;
  color: #33ddff;
  background-color: #005566;
  padding: 16px 16px;
  outline: 0;
  border-radius: 12px;
}
